@import '../../../variables';
.survey-slider {
  color: $primary-text-color; 

  .survey-pagnation {

    &__prev {
    }

    &__next {
    }

  }

  .survey-container {
    display: flex;
    flex-direction: row;
    flex-wrap: none;

    .item {
    }

  }
}
