@import '../../../variables';
@import '../../../mixins';

.app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $footer-height;
  background-color: $primary;
  color: $secondary-text-color;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include desktop {
    //flex-direction: row;
  }

  a {
    margin: .5rem;
    color: $secondary-text-color;
    cursor: pointer;

    &:hover, &:active {
      color: #fff;
    }
  }

  .fb {
  }

  .map{
  }

}
