@import '../../../variables';

.app-footer {
  display: flex;
  flex-direction: row;
  height: $footer-height;
  background-color: $primary;
  color: $secondary-text-color;

  ul {
    list-style: none; 
    margin: 2rem 0;

    li {
      margin: .5rem 1rem; 

      a {
        color: $secondary-text-color;
      }
    }
  }


}
