<div class="pc-footer">
    <ul>
      <li><a href="https://w3.ibm.com/w3/info_terms_of_use.html" target="_blank">Terms of Use</a></li>
      <li><a href="https://w3.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Business+Conduct+Guidelines" target="_blank">Business Conduct Guidelines</a></li>
      <li><a href="https://w3.ibm.com/feedback/" target="_blank">Feedback</a></li>
      <li><a href="https://w3.ibm.com/w3/access-stmt.html" target="_blank">Accessibility</a></li>
    </ul>
</div>
