<div class="app-footer">

  <a href="https://www.facebook.com/High-Road-Truck-and-Auto-Parts-394993670564220/" rel="noopener" target="_blank" class="fb">
    <clr-icon shape="thumbs-up" size="24"></clr-icon>
   Like us on Facebook 
  </a>
  
  <a href="https://www.google.ca/maps/place/217+High+Rd,+Port+Hood,+NS+B0E+2W0/@46.0124078,-61.5239067,17z/data=!3m1!4b1!4m5!3m4!1s0x4b5da2ab50adf0d7:0x693218562bdec803!8m2!3d46.0124041!4d-61.5217234" class="map">
    <clr-icon shape="map" size="24"></clr-icon>
    217 High Road, Port Hood
  </a>

  <a href="tel:1-902-787-2521">
    <clr-icon shape="mobile-phone" size="24"></clr-icon>
    (902) 787-2521
  </a>

  <a href="mailto:hiroadparts@bellaliant.com">
    <clr-icon shape="email" size="24"></clr-icon>
    hiroadparts@bellaliant.com
  </a>

</div>
