@import '../../../variables';
@import '../../../mixins';

.app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $footer-height;
  background-color: $primary;
  color: $secondary-text-color;

  @include desktop {
    flex-direction: row;
  }

  .social {
    margin: 1rem;

    a {
      color: $secondary-text-color;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin: .5rem 0;
      color: $secondary-text-color;
    }
  }

}
