<div class="shop-nav">
  <div class="dropdown" [ngClass]="{'open': categoryOpen}">
    <button class="dropdown-toggle btn btn-link" (click)="categoryOpen = !categoryOpen">
      Category 
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item">
        Agriculture, Industrial & Lawn
      </a>
      <a class="dropdown-item">
        Batteries
      </a>
      <a class="dropdown-item">
        Bearings
      </a>
      <a class="dropdown-item">
        Belts & Hoses
      </a>
      <a class="dropdown-item">
        Body & Accessories
      </a>
      <a class="dropdown-item">
        Brake System Parts
      </a>
      <a class="dropdown-item">
        Chemicals
      </a>
      <a class="dropdown-item">
        Climate Control
      </a>
      <a class="dropdown-item">
        Driveline & Wheels
      </a>
      <a class="dropdown-item">
        Engine Cooling
      </a>
      <a class="dropdown-item">
        Engine Parts
      </a>
      <a class="dropdown-item">
        Engines
      </a>
      <a class="dropdown-item">
        All Exhaust Systems & Parts
      </a>
      <a class="dropdown-item">
        Filtration
      </a>
      <a class="dropdown-item">
        Fluid Caps
      </a>
      <a class="dropdown-item">
        Fuel & Emissions Systems
      </a>
      <a class="dropdown-item">
        Gaskets, Seals & O-Rings
      </a>
      <a class="dropdown-item">
        Ignition & Electrical
      </a>
      <a class="dropdown-item">
        Lighting
      </a>
      <a class="dropdown-item">
        Marine, RV & Powersport
      </a>
      <a class="dropdown-item">
        Rotating Electrical
      </a>
      <a class="dropdown-item">
        Steering & Suspension
      </a>
      <a class="dropdown-item">
        Transmission & Clutch
      </a>
      <a class="dropdown-item">
        Windshield Products
      </a>
    </div>
  </div>

  <div class="search-bar">
    <div class="form-group">
      <input type="text" placeholder="Search" id="formFields_10" size="35">
    </div>
  </div>

</div>
