@import '../../variables';
@import '../../mixins';

.dashboard {

  &-theater {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: #fff;
    padding-top: calc(#{$nav-height} + 1rem);
    padding-bottom: 1rem;
    background-color: $primary;
    overflow: hidden;

    &__poster {
      position: absolute;
      height: 85vh;
      width: 100%;
      background-size: cover;
      background-image: url('../../assets/dashboard_cover2.jpg');
      filter: blur(12px) grayscale(80%);
    }

    h1, span {
      max-width: 80vw;
      text-align: center;
      margin: 1rem 0;
      color: #fff;
      text-shadow: 1px 1px 2px black;
      z-index: 5;
    }

    h1 {
      font-size: 3.5rem;
      line-height: 1.3;

      @include desktop {
        font-size: 7rem;
      }
    }

    span {
      max-width: 70rem;
      font-size: 1.4rem;
      margin: 0 2.5rem;

      @include tablet {
        font-size: 2rem;
      }
    }

    button {
      z-index: 5;
      margin-top: 2rem;
    }

  }

  &-container {

    &__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 20rem;
      width: 100%;
      color: $primary-text-color;
      background-color: $secondary;
      padding-top: 3rem;
      padding-bottom: 3rem;

      @include tablet {
        flex-direction: row;
        align-items: start;
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5rem 0;
        text-align: center;
        flex-grow: 1;

        h3 {
          padding: 1rem 0;
          color: #fff;
        }

        p { max-width: 17rem; }
      }

    }

    &__location {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      height: 90vh;
      padding-top: 2rem;

      @include desktop {
        flex-direction: row;
      }

      &-text {
        display: flex;
        flex: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $secondary-text-color;
        padding-top: 2rem;

        @include desktop {
          padding-top: 0;
        }

        h2 {
          text-align: center;
          margin: 2rem 0;
        }

        ul {
          list-style: none;

          li {
            text-align: center;
            margin: .5rem 0;
          }
        }

      }

      &-map {
        position: relative;
        flex: 50%;
        height: 50%;
        width: 50%;
        margin: 2rem 0;

        @include desktop {
          margin-top: 0;
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          @include desktop {
            width: 50%;
          }
        }
      }
    }

  }

}
