@import '../../variables';
@import '../../mixins';

.dashboard {

  &-theater {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: #fff;
    padding-top: calc(#{$nav-height} + 1rem);
    padding-bottom: 1rem;
    background-color: $primary;
    background-size: cover;

    h1, span {
      max-width: 80vw;
      text-align: center;
      margin: 1rem 0;
    }

    button {
      margin-top: 2rem;
    }

  }

  &-container {

    &__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-height: 20rem;
      width: 100%;
      color: $primary-text-color;
      background-color: $secondary;
      padding-top: 3rem;
      padding-bottom: 3rem;

      @include tablet {
        flex-direction: row;
      }

      .info {
        max-width: 17rem;
        margin: 1.5rem 0;
        text-align: center;

        h3 {
          padding: 1rem 0;
        }
      }

    }

    &__location {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      height: 90vh;

      @include desktop {
        flex-direction: row;
      }

      &-text {
        display: flex;
        flex: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $secondary-text-color;

        h2 {
          text-align: center;
          margin: 2rem 0;
        }

        ul {
          list-style: none;

          li {
            text-align: center;
            margin: .5rem 0;
          }
        }

      }

      &-map {
        position: relative;
        flex: 50%;
        height: 50%;
        width: 50%;
        margin: 2rem 0;

        @include desktop {
          margin-top: 0;
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          @include desktop {
            width: 50%;
          }
        }
      }
    }

  }

}
