<div class="dashboard">
  <div class="dashboard-theater">
    <div class="dashboard-theater__poster"></div>
    <h1>The new standard in auto parts</h1>
    <span>High Road Truck and Auto Parts is the best resource for keeping your vehicle running smooth. Whether you need tires, parts or tools, we have it all.</span>
    <button class="btn btn-warning">Explore Our Inventory</button>
  </div>
  <div class="dashboard-container">
    <div class="dashboard-container__cta">
      <div class="info">
        <clr-icon shape="happy-face" size="36"></clr-icon>
        <h3>Friendly Service</h3>
        <p>we are dedicated to helpful and attentive service</p>
      </div>
      <div class="info">
        <clr-icon shape="shopping-cart" size="36"></clr-icon>
        <h3>Sensible Prices</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="info">
        <clr-icon shape="clock" size="36"></clr-icon>
        <h3>Reasonable hours</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
    <div class="dashboard-container__location">
      <div class="dashboard-container__location-text">
        <h2>Hours</h2>
        <ul>
          <li>Sunday: CLOSED</li>
          <li>Monday: CLOSED</li>
          <li>Tuesday: 9:00AM - 7:00PM</li>
          <li>Wednesday: 9:00AM - 7:00PM</li>
          <li>Thursday: 9:00AM - 7:00PM</li>
          <li>Friday: 9:00AM - 7:00PM</li>
          <li>Saturday: 9:00AM - 2:00PM</li>
        </ul>
      </div>
      <div class="dashboard-container__location-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2770.939101523779!2d-61.523906720827455!3d46.012407804820214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b5da2ab50adf0d7%3A0x693218562bdec803!2s217+High+Rd%2C+Port+Hood%2C+NS+B0E+2W0!5e0!3m2!1sen!2sca!4v1491861212364" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
