<div class="dashboard">
  <div class="dashboard-theater">
    <h1>The new standard in auto parts</h1>
    <span>High Road Truck and Auto Parts is the best resource for keeping your vehicle running smooth. Whether you need tires, parts or tools, we have it all.</span>
    <button class="btn-theater">Explore Our Inventory</button>
  </div>
  <div class="dashboard-container">
    <div class="dashboard-container__cta">
      <div class="info">
        <h3>Friendly Service</h3>
        <p>we are dedicated to helpful and attentive service</p>
      </div>
      <div class="info">
        <h3>Sensible Prices</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="info">
        <h3>Reasonable hours</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
    <div class="dashboard-container__location">
      <div class="dashboard-container__location-text">
        <h2>Hours</h2>
        <ul>
          <li>Sunday: CLOSED</li>
          <li>Monday: CLOSED</li>
          <li>Tuesday: 9:00AM - 7:00PM</li>
          <li>Wednesday: 9:00AM - 7:00PM</li>
          <li>Thursday: 9:00AM - 7:00PM</li>
          <li>Friday: 9:00AM - 7:00PM</li>
          <li>Saturday: 9:00AM - 2:00PM</li>
        </ul>
      </div>
      <div class="dashboard-container__location-map">
      </div>
    </div>
  </div>
</div>
