<div class="dashboard">
  <div class="dashboard-theater">
    <div class="dashboard-theater__info"> 
      <h2>Lorem Ipsum</h2>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      <span>Start Survey Now</span>
      <div class="dashboard-theater__info-buttons">
        <button 
          class="btn-theater" 
          aria-label="Get Started and create a type">
          Get Started
        </button>
        <button 
          class="btn-theater" 
          aria-label="Get Started and create a type">
          Get Started
        </button>
      </div>
    </div>
  </div>

  <div class="dashboard-container">
    <pc-survey-slider></pc-survey-slider>
  </div>
</div>
