@import '../../../variables';
@import '../../../mixins';

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(#{$nav-height} + 1rem);
  text-align: center;

  h1 {
    color: #fff;
  }
}
