.btn-nav {
  height: calc(100% - 3px);
  font-size: 1.6rem;
  background: none;
  border: none;
  color: #fff;
  border-bottom: 3px solid $primary;
  transition: border .15s ease-in;

  &:hover {
    border-color: #12A3B4; 
  }
}

