// Common Height Varibles 
$nav-height: 5rem;
$footer-height: 14.5rem;

// Nav font/background colors
$background-color: #141414; 
$nav-color: rgba(0,0,0,.8);

// Primary and Secondary colors
$primary: #212121;
$primary-light: #484848;
$primary-dark: #000000;

$secondary: #ef534e;
$secondary-light: #ff867a;
$secondary-dark: #b61825;

// Font Colors
$primary-text-color:   #fff;
$secondary-text-color: #7d7d7d;
$blue-text: #2196f3;
$red-text: #d74108;
$orange-text:#ff9800;
$purple-text: #9c27b0;
