$nav-height: 5rem;
$footer-height: 14.5rem;
$background-color: #141414; 

$primary-color: #1d3649;
$accent-color: #325c80;

$nav-color: rgba(0,0,0,.7);
$nav-font-color: #0d6eff;

$primary-text-color:   #fff;
$secondary-text-color: #7d7d7d;

$blue-text: #2196f3;
$red-text: #d74108;
$orange-text:#ff9800;
$purple-text: #9c27b0;
